{% extends "shop/base.html" %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/contact/contact.css' %}">
{% endblock %}


{% block title %}
    {% if category %}{{ category.name }}{% else %}Contact{% endif %}
{% endblock %}
{% block content %}
    <main>
        <section>
            <h3>Leave a message</h3>
                <div class="container">
                          <form  method="post">
                            {% csrf_token %}
                              {{ form.as_p }}
							  <div class="send_btn">
                        <button type="submit" class="">Send</button>
                       </div>
					  </form>
                       </div>
                
        </section>
    </main>


    <script>
        const hamburger = document.querySelector(".hamburger");
        const navLinks = document.querySelector(".nav-links");
        const links = document.querySelectorAll(".nav-links li");
        const nav = document.querySelector("nav")

        hamburger.addEventListener('click', ()=>{
            navLinks.classList.toggle("open");
            links.forEach(link => {
                link.classList.toggle("fade");
            });
            nav.style.position='fixed'
            hamburger.classList.toggle("toggle");
        });
    </script>


{% endblock %}